/* configuração geral  */

body{
font-family: Arial, Helvetica, sans-serif;
padding: 30px;

}

h1{
margin-bottom: 5px;

}

h2{
margin-top: 40px;

}

/* BLOCK */
/* ocupa toda a largura disponivel (ex: div, p, h1) */

.block {

border: 5px dashed slateblue;
border-radius: 20px;
display: block;
background-color: rgb(127, 136, 255);
padding: 10px;
margin: 5px;
border: solid blue;
}


/* INLINE

Ocupa só o espaço do conteudo */
 
.inline {

    display: inline;
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.288);
    border: 2px solid;
    border-radius: 20px;

}

/* Ocupa só o espaço do conteudo, permite controlar o witgh e height */

.inline-block{
    display: inline-block;
    width: 100px;
    height: 60px;
    background-color: rgba(127, 255, 212, 0.349);
    margin: 5px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px


}
