body{

    /* hexadecimal */
    background-color: violet(132, 255, 228);

    /* RGB com trasparencia*/

    /* RGB
    background-rgb(255,97,156) */


background-color: rgb(255, 0, 85);


}
h1{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;

    }


h2{
    font-size: 2vw;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    
}

p{
    font-size: 2vw;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

 span {

    font-size: 2em;
    color: yellow;
}

/* ------------------------------------------ */


/* px(peixels) é um unidade fixa.O tamanho sempre será
o mesmo, independente do tamanho da tela  */

/* 2EM- o dobro do tamnho significa que
 ele é o multiplicador do tamanho da base */

 /* 120%- 20% maior que o padrão  */
/* 5vw- 5% da largura da tela, isso faz com que 
o tamnaho do texto se ajuste ao tamanho da tela, MUITO
util para desing responsivo*/

/* Controla a grossura (negrito) do texto
100= Super fino
400= Normal
700= negrito
900= super negrito
 */
/* STRONG - Forte */
/* ------------------------------------------- */
